# --- Main Bot ---
python-telegram-bot
pymongo
dnspython
flask
google-generativeai
psutil
pytz
edge-tts
Pillow

# --- Music Engine (STABLE 1.x VERSION) ---
pyrogram==2.0.106
py-tgcalls==1.2.9
tgcrypto
yt-dlp
youtube-search-python
ffmpeg-python

